@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cobalt: #1621c9;
  --valley: #75b600;
  --lavender: #485fea;
  --poppy:  #9b1e00;
  --background: #c0d2e6;
  --foreground: #fff;
}

body {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  color: var(--foreground);
  background: var(--background);
  background-image: url("/bliss.jpg");
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  /* animation: scroll 5s linear infinite; */
  backdrop-filter: blur(0px);
}
@keyframes scroll {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 10rem 10rem;
  }
}


.glass {
  background: rgba(0, 0, 0, .4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, .5);
  color: white;
}

.hoverGlass:hover {
  background: rgba(0, 0, 0, .4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, .5);
  color: white;
 }

 a {
   color: #485fea;
   /* text-decoration: underline; */
 }

 a:hover {
   color: white;
 }
